<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="buildPropertiesGroup">
      <section name="buildProperties" type="RedTailLib.BuildConfigurationSection, RedTailLib" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
    <sectionGroup name="environmentPropertiesGroup">
      <section name="environmentProperties" type="RedTailLib.EnvironmentConfigurationSection, RedTailLib" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>

  <environmentPropertiesGroup>
    <environmentProperties verbose="False" />
  </environmentPropertiesGroup>

  <buildPropertiesGroup>
    <!-- These can be overridden in the project file -->
    <buildProperties 
      tool-path="tools\gnuarm" 
      linker-script="firmware\scripts\linker\arm-none-eabi\raspberrypi\kernel.ld" 
      startup="firmware\startup\arm-none-eabi\raspberrypi\bootstrap.s"
      c-flags="-Wall -O2 -nostdlib -nostartfiles -ffreestanding"
      elf-filename="output.elf"
      target-name="kernel.img"
      object-type="binary"
      object-copy-tool="arm-none-eabi-objcopy.exe"
      assembler-tool="arm-none-eabi-as.exe"
      linker-tool="arm-none-eabi-ld.exe"
      c-compiler-tool="arm-none-eabi-gcc.exe"
      dump-tool="arm-none-eabi-objdump.exe"
      library-archive-tool="arm-none-eabi-ar.exe">
    </buildProperties>
  </buildPropertiesGroup>
  
</configuration>